html {
    line-height: normal;
}

* {
    margin: 0;
    position: relative;
    border: none;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 0;
}

*:focus-visible, *:focus {
    outline: none;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#app > .center_x {
    align-self: center;
}

#app > .center_y {
    margin-top: auto;
    margin-bottom: auto;
}

#app > .align_bottom {
    margin-top: auto;
}

#app > .align_left {
    align-self: flex-start;
}

#app > .align_right {
    align-self: flex-end;
}

#app > .exact_height {
    flex-shrink: 0;
}
