html {
    line-height: normal;
}

* {
    flex: none;
    margin: 0;
    position: relative;
}

.paragraph > * {
    display: inline;
}

.above > *, .below > *, .on_left > *, .on_right > * {
    pointer-events: auto;
}
